.Gap {
  min-height: 100%;
  min-width: 100%;
  margin: 150px;
  margin-left: 50px;
}

.Grid {
  margin-right: 50px;
  display: grid;
  border: #540000 4px solid;
  border-radius: 8px;
  padding: 2rem;
}
