.hWall {
  background-image: url(./images/DndWall.png);
  background-size: contain;
}

.vWall {
  background-image: url(./images/DndWall.png);
  background-size: contain;
  transform: rotate(90deg);
}

.trCornerWall {
  background-image: url(./images/DndCorner.png);
  background-size: contain;
  transform: rotate(270deg);
}

.rdCornerWall {
  background-image: url(./images/DndCorner.png);
  background-size: contain;
}

.dlCornerWall {
  background-image: url(./images/DndCorner.png);
  background-size: contain;
  transform: rotate(90deg);
}

.ltCornerWall {
  background-image: url(./images/DndCorner.png);
  background-size: contain;
  transform: rotate(180deg);
}

.noLTWall {
  background-image: url(./images/DndT.png);
  background-size: contain;
  transform: rotate(90deg);
}

.noTTWall {
  background-image: url(./images/DndT.png);
  background-size: contain;
  transform: rotate(180deg);
}

.noRTWall {
  background-image: url(./images/DndT.png);
  background-size: contain;
  transform: rotate(270deg);
}

.noDTWall {
  background-image: url(./images/DndT.png);
  background-size: contain;
}

.WallX {
  background-image: url(./images/DndX.png);
  background-size: contain;
}
