.PlayPage {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 304px 1fr;
}

.KeepGridInScreen {
  overflow: scroll;
  min-height: 100vh;
}
