.SideBar {
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: white;
  left: 0;
  top: 0px;
  overflow-y: scroll;
  border-right: #540000 4px solid;
}

.SideBarHeadline {
  font-size: 20px;
  color: #540000;
}
